{% extends "base.html" %}

{% block content %}

    <h1 style="margin-top:100px ; margin-left:100px;">歡迎使用行事曆系統</h1>

    {% if error %}
      <p style="color: red;margin-left:100px">{{ error }}</p>
    {% endif %}

    <form method="POST" action="/login" style="margin-left:100px;">
      <p><input type="text" name="username" placeholder="請輸入使用者名稱"></p>
      <p><input type="password" name="password" placeholder="請輸入密碼"></p>
      <p><input type="submit" value="登入"></p>
    </form>

    <a href="/register" style="margin-left:100px;"><button>註冊</button></a>

{% endblock content %}